{% extends 'base.html' %}

{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="city" placeholder="Enter City">
    <button type="submit" class="btn">Enter</button>
</form>

<section class="vh-100" style="background-color: #4B515D;">
    <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <div class="card" style="color: #4B515D; border-radius: 35px;">
                    <div class="card-body p-4">

                        <div class="d-flex">
                            <h6 class="flex-grow-1">{{ city }}</h6>
                            <h6>{{ day }}</h6>
                        </div>

                        <div class="d-flex flex-column text-center mt-5 mb-4">
                            <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{ temp }}°C </h6>
                            <span class="small" style="color: #868B94">{{ description }}</span>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1" style="font-size: 1rem;">
                                <div>
                                    <i class="fas fa-tint fa-fw" style="color: #868B94;"></i>
                                    <span class="ms-1">
                                        Umidade: {{ humidity }}%
                                    </span>
                                </div>
                                <div>
                                    <i class="fas fa-sun fa-fw" style="color: #868B94;"></i>
                                    <span class="ms-1">

                                    </span>
                                </div>
                            </div>
                            <div>
                                <img src="http://openweathermap.org/img/w/{{icon}}.png" width="100px">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock %}