{% extends 'base.html' %}

{% block content %}
<br>
<div class="card-group">
    <div class="card">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/EduardoBran/Quiz-Web-Application-Py/main/screenshot/screenshot.jpg"
            alt="Imagem do projeto QuizTime">
        <div class="card-body">
            <h5 class="card-title text-center">Projeto QuizTime</h5>
            <p class="card-text">Este é um projeto de um quiz interativo sobre tecnologia.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="http://quiz-django-edu.herokuapp.com">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/EduardoBran/System-Voting-App-Web-Py/main/screenshot/screenshot2.jpg"
            alt="Imagem do projeto PollMaker">
        <div class="card-body">
            <h5 class="card-title text-center">Projeto PollMaker</h5>
            <p class="card-text">Este é um projeto de sistema de enquetes.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://sistema-enquetes.herokuapp.com/">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/EduardoBran/Projeto-Blog-Web-Py/main/screenshot/screenshot.jpg"
            alt="Imagem do projeto Blog do EduAds">
        <div class="card-body">
            <h5 class="card-title text-center">Projeto Blog</h5>
            <p class="card-text">Este é um projeto de um blog sobre tecnologia.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://blog.eduardomb.com.br">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}