{% extends 'base.html' %}

{% block content %}
<style>
    .button-40 {
        background-color: #111827;
        border: 1px solid transparent;
        border-radius: .75rem;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex: 0 0 auto;
        font-family: "Inter var";
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: .75rem 1.2rem;
        text-align: center;
        text-decoration: none #6B7280 solid;
        text-decoration-thickness: auto;
        transition-duration: .2s;
        transition-property: background-color, border-color, color, fill, stroke;
        transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
    }

    .button-40:hover {
        background-color: #374151;
    }

    .button-40:focus {
        box-shadow: none;
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    @media (min-width: 768px) {
        .button-40 {
            padding: .75rem 1.5rem;
        }
    }
</style>

<br>
<div class="card-group">
    <div class="card">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/EduardoBran/Quiz-Web-Application-Py/main/screenshot/screenshot.jpg"
            alt="Imagem do projeto QuizTime">
        <div class="card-body">
            <h5 class="card-title text-center">Projeto QuizTime</h5>
            <p class="card-text">Este é um projeto de um quiz interativo sobre tecnologia.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="http://quiz-django-edu.herokuapp.com">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/EduardoBran/System-Voting-App-Web-Py/main/screenshot/screenshot2.jpg"
            alt="Imagem do projeto PollMaker">
        <div class="card-body">
            <h5 class="card-title text-center">Projeto PollMaker</h5>
            <p class="card-text">Este é um projeto de sistema de enquetes.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://sistema-enquetes.herokuapp.com/">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/EduardoBran/Projeto-Blog-Web-Py/main/screenshot/screenshot.jpg"
            alt="Imagem do projeto Blog do EduAds">
        <div class="card-body">
            <h5 class="card-title text-center">Projeto Blog</h5>
            <p class="card-text">Este é um projeto de um blog sobre tecnologia.</p>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">
                <a href="https://blog.eduardomb.com.br">
                    Clique aqui para acessar
                </a>
            </small>
        </div>
    </div>
</div>
<br>

<div class="text-center">
    <div class="text-center">
        <button class="button-40"><a href="{% url 'home' %}">Voltar</a></button>
    </div>
</div>

<br><br><br><br>
{% endblock %}